# Rename this file to .env and fill in the actual values.

# Cloudflare API Credentials
CF_EMAIL=your_cloudflare_email@example.com
CF_API_KEY=your_cloudflare_api_key
CF_ZTNA_ID=your_cloudflare_ztna_id

# Server Configuration
HOST=172.16.0.2
PORT=80

# Custom Domain for MyIP
MYIP_DOMAIN=ifconfig.zero
